<ion-header>
  <ion-toolbar>
      <ion-icon class="back-button-icon" (click)="dismiss()" name="close" slot="start"></ion-icon>
      <ion-title >Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-card>
      <img src="{{item_pic}}" />
      <ion-card-header>
        <ion-label>Item Name:</ion-label>
        <ion-input [(ngModel)]="item_name" type="text"></ion-input>
      </ion-card-header>

      <ion-card-content>

        <ion-label>Price:</ion-label>
        <ion-input [(ngModel)]="item_price" type="text"></ion-input>

        <ion-label>Quantity:</ion-label> 
        <ion-input [(ngModel)]="item_quantity" type="text"></ion-input>
      </ion-card-content>
    </ion-card>
  
  </ion-list>

  <ion-item>
    <ion-button class="cart_button" (click)="prodChange()">Done</ion-button>
  </ion-item>

</ion-content>
