<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button ion-only clear (click)="addcontact()">
      <ion-icon name="add" value="1"></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- <ion-item *ngFor="let contact of contacts; index as i">
    <ion-item>
      Name: {{contact.firstName}} {{contact.lastName}}
    </ion-item>
    <ion-item-sliding>
      <ion-item-options side="right">
        <button ion-button (click)="editContact(i)">Edit</button>
        <button ion-button color="danger" (click)="deleteContact(i)">Delete</button>
      </ion-item-options>
  </ion-item> 
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>  -->
<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let contact of contacts; index as i">
      <ion-item>
        {{contact.firstName}} {{contact.lastName}}
      </ion-item>
      <ion-item-options side="end">
        <button ion-button (click)="editContact(i)">Edit</button>
        <button ion-button color="danger" (click)="deleteContact(i)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>