<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-label>Reminder Name:</ion-label>
    <ion-input type="text" placeholder="name"></ion-input>
    <ion-label>Choose a date:</ion-label>
    <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
    <ion-item><ion-toggle color="primary"></ion-toggle> Show Notifications</ion-item>
  </ion-list>


  <ion-button color="secondary" (click)="store()">Done</ion-button>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
