<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-label>Reminder Name:</ion-label>
    <ion-input [(ngModel)]="remName" type="text" placeholder="name"></ion-input>
    <ion-label>Choose a date:</ion-label>
    <ion-datetime [(ngModel)]="remDate"  display-timezone="utc"></ion-datetime>
    
  </ion-list>
  <ion-button color="secondary" (click)="store()">Done</ion-button>
  <ion-item><ion-toggle [(ngModel)]="toggleBtn" color="primary" checked></ion-toggle> Show Notifications</ion-item>
  <ion-list *ngIf="toggleBtn">
    <ion-grid>
      <ion-row>
        <ion-col>
          {{notfName}}
        </ion-col>
        <ion-col>
          <ion-datetime [(ngModel)]="notfDate"  display-timezone="utc"></ion-datetime> 
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-list>
 

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
