<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Username : {{username}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hermione Granger</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ron Weadley</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Harry potter</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
