<ion-header>
  <ion-title style="text-align:center">Add Contacts</ion-title>
    <ion-button (click)='addcontact()'>
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="firstName" type="text" placeholder="firstName"></ion-input>
  <ion-input [(ngModel)]="lastName" type="text" placeholder="lastName"></ion-input>
  <ion-input [(ngModel)]="email" type="text" placeholder="email" ></ion-input>
  <ion-button (click)='addcontact(firstName,lastName,email)'>Add</ion-button>
</ion-content>
