<ion-header>
  <ion-toolbar>
    <ion-icon class="back-button-icon" (click)="close()" name="close" slot="start"></ion-icon>
    <ion-icon class="camera-button-icon" (click)="uploadImage()" name="camera" slot="end"></ion-icon>
    <ion-title>New Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Item Pic:</ion-label>
      <ion-input type="text" [(ngModel)]="item_pic" ></ion-input>

      <ion-label>Item Name:</ion-label>
      <ion-input [(ngModel)]="item_name" type="text" placeholder="Calamari"></ion-input>
  
      <ion-label>Item Price:</ion-label>
      <ion-input [(ngModel)]="item_price" type="number" placeholder="0"></ion-input>
  
      <ion-label>Quantity Available:</ion-label>
      <ion-input [(ngModel)]="item_quantity" type="number" placeholder="0"></ion-input>
      
      <ion-button class="done_Button" (click)="addItem()">Done</ion-button>
    </ion-card-content>
  </ion-card>
  
    <!-- <ion-item></ion-item> -->
    <!-- <ion-item size="2" *ngFor="let photo of photoService.photos; index as position">
      <ion-input type="hidden" [(ngModel)]="newItem.item_pic" ></ion-input>
      <ion-img [src]="photo.base64 ? photo.base64 : photo.webviewPath"></ion-img>
    </ion-item> -->
    <!-- <ion-item size="1" >
      <ion-img [src]="photoService.photos.base64 ? photoService.photos.base64 : photoService.photos.webviewPath"></ion-img>
    </ion-item> -->
    <!-- <ion-item>
      <ion-img [src]="photoService.photos[0].webviewPath"></ion-img>
    </ion-item> -->

</ion-content>
